html, body {
	background: #ece9e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
    color: red;
}

.text-center {
	text-align: center;
}

.navigation {
	position: relative;
	width: 100%;
	height: 2em;
}